    .sidenav-container {
        position: absolute;
        top: 60px;
        bottom: 0;
        left: 0;
        right: 0;
    }

    // .header-container {
    //     height: 80px;        
    // }

    .mat-drawer-container{
        background-color: white;
    }

    .normal-size {
        min-width: 250px;
    }

    .minibar-size {
        min-width: 30px;
    }

    .minibar-raised {
        // margin: 10px;
        padding: 10px 20px 10px 20px;
        // border-radius: 6px;
        // box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    }

    .sidenav-content {
        padding-left: 40px;
    }