<app-tabulator></app-tabulator>

<!-- <div><mat-label>Name</mat-label></div>

<mat-form-field>
    <input type="text" matInput id="A" placeholder="Enter your name">
</mat-form-field>

<mat-form-field>
    <mat-select placeholder="Select">
        <mat-option value="option">Option A</mat-option>
        <mat-option value="option">Option B</mat-option>
        <mat-option value="option">Option C</mat-option>
        <mat-option value="option">Option D</mat-option>
    </mat-select>
</mat-form-field>


    <button mat-raised-button color="primary">Test</button>

    <mat-checkbox>A</mat-checkbox>
    <mat-checkbox>B</mat-checkbox>
    <mat-checkbox>C</mat-checkbox>
    <mat-checkbox>D</mat-checkbox>

<mat-form-field>
    <input matInput [matDatepicker]="picker" placeholder="Choose a date">
    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker #picker></mat-datepicker>
</mat-form-field>


    <mat-radio-group>
        <mat-radio-button>
            FRH
        </mat-radio-button>
    </mat-radio-group> -->

